
<div class="box-prodotto container" fxLayout="row"
	fxLayoutAlign="center">
	<div class="minMaxHeight100" fxFlex="50%" fxLayoutAlign="center"
		*ngIf="prodotto.multimedia[0]">
		<a href={{prodotto.urlEsterna}} target="_blank"><img
			src={{prodotto.multimedia[1].uri}} title={{prodotto.nomeProdotto}} />
		</a> <img
			*ngIf="prodotto.percentualeSalvata>50 && prodotto.percentualeSalvata != null"
			class="bollino" src="assets/red_circle.svg"> <img
			*ngIf="prodotto.percentualeSalvata<=50 && prodotto.percentualeSalvata != null"
			class="bollino" src="assets/green_circle.svg"><span
			*ngIf="prodotto.percentualeSalvata != null" class="bollinoLabel">{{prodotto.percentualeSalvata}}%</span>
	</div>
	<div class="templateVai minMaxHeight100" fxFlex="50%" fxLayout="column"
		fxLayoutAlign="flex-end center">
		<div class="container" fxLayout="row" fxLayoutGap="10px"
			fxLayoutAlign="flex-end center">
			<div class="padd5">
				<span class="prezzoFinale" *ngIf="prodotto.percentualeSalvata">{{prodotto.prezzoOfferta
					| number:'1.2-2'}}<i class="material-icons">euro_symbol</i>
				</span>
			</div>
			<div class="padd5">
				<span class="strikethrough prezzoListino"
					*ngIf="prodotto.percentualeSalvata">{{prodotto.prezzoListino
					| number:'1.2-2'}}<i class="material-icons">euro_symbol</i>
				</span> <span class="prezzoFinale" *ngIf="!prodotto.percentualeSalvata">{{prodotto.prezzoListino
					| number:'1.2-2'}}<i class="material-icons">euro_symbol</i>
				</span>
			</div>
		</div>
		<div class="padd5 width100Perc">
			<button mat-button class="buttonVai widthAndSpace">
				<span class="fontButton">Scopri su </span><span
					class="fontSizeMerchant">Amazon</span>
			</button>
		</div>
	</div>
</div>
