<div class="container recenPadd minHeight70" fxLayout fxLayoutGap="10px"
	fxLayoutAlign="space-between">
	<div fxFlex="33%" fxLayoutAlign="center">
		<div fxFlex="30%" fxLayoutAlign="center">
			<div class="photo"></div>
		</div>
		<div fxFlex="70%" class="recen">Skimple e fantastico!</div>
	</div>
	<div fxFlex="33%" fxLayoutAlign="center">
		<div fxFlex="30%" fxLayoutAlign="center">
			<div class="photo"></div>
		</div>
		<div fxFlex="70%" class="recen">Prezzi davvero ottimi!</div>
	</div>
	<div fxFlex="33%" fxLayoutAlign="center">
		<div fxFlex="30%" fxLayoutAlign="center">
			<div class="photo"></div>
		</div>
		<div fxFlex="70%" class="recen">
			<span>Le offerte che altrimenti non troveresti mai!</span>
		</div>
	</div>
</div>