.menu {
	border-bottom: 5px solid lightgrey;
	border-bottom-width: 1px;
	min-height: 80px;
	z-index: 10;
	background-color: white;
	box-shadow: 0px 7px 8px -5px #888888;
}

button {
	color: #000054;
	border-radius: 0px;
}

button:hover {
	/* background: linear-gradient(to right, #23d352 0%, #1c8a39 100%); */
	
}

.sticky {
	position: sticky;
	top: 0;
	/* min-height: 50px !important; */
	-webkit-transition: 0.2s;
}