<div class="container menu" id="menu"
	[ngClass]="{'sticky': offset >= menuHeight }" fxLayout
	fxLayout.xs="
	column" fxLayout.sm="column" fxLayoutAlign="center"
	fxLayoutGap="10px" fxWrap="wrap">
	<button mat-button routerLink="/chiSiamo">Chi siamo</button>
	<button mat-button routerLink="/categorie">Categorie</button>
	<button mat-button routerLink="/contattaci">Contatti</button>
	<button mat-button routerLink="/cercaProdotto">Cerca prodotto
		Yuana</button>
	<button mat-button routerLink="">Home</button>
	<button mat-button routerLink="/login">Login</button>
	<button mat-button routerLink="/signin">Signin</button>
	<button mat-button routerLink="/schedule">Schedula Prossime
		Offerte</button>
</div>