.width100Perc {
	width: 100%;
	padding-left: 50px;
	padding-right: 50px;
}

.search {
	border-radius: 5px 0px 0px 5px;
	border-style: solid;
	/* border-color: #23d352; */
	border-width: 0px;
	
	/* box-shadow: 7px 7px 13px grey; */
}

button {
	background: linear-gradient(to right, #23d352 0%, #1c8a39 100%);
	color: white;
	border-radius: 0px 5px 5px 0px;
	/* box-shadow: 7px 7px 13px grey; */
}

input {
	padding-left: 10px;
	font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.searchContainer {
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #1f2147;
	box-shadow: 0px 7px 8px -5px #888888;
}