.content {
	height: 420px;
	padding: 3px;
	overflow: auto;
	position:relative;
}

hr {
	width: 80%;
}

.bomba {
	height: 20px;
}

/* .bomba:hover {
	transition: transform 2s;
	transform: rotate(1080deg);
} */